<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{text-align: center}
        #divcss{position: center}
    </style>
</head>
<body>
<div th:fragment="header">
    <nav id="divcss" class="navbar navbar-default" role="navigation">
        <div  class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">西安电子科技大学信息管理系统</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>