<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../assets/metronic/css/style.css}"/>
</head>
<body>
<form method="POST" action="/club/update"
      enctype="multipart/form-data">


    <div class="form-group">
        <label for="firstname1" class="col-sm-1 control-label">学会ID</label>
        <div class="col-sm-6">
            <input type="text" name="clubId" readonly th:value="${club.clubId}" class="form-control" id="firstname1" >
        </div>
    </div><br/><br/>

    <div class="form-group">
        <label for="firstname" class="col-sm-1 control-label">学会名称</label>
        <div class="col-sm-6">
            <input type="text" name="clubName"
                    th:value="${club.clubName}" class="form-control" id="firstname">
        </div>
    </div><br/><br/>

    <div class="form-group">
        <label for="firstname" class="col-sm-1 control-label">学会地点</label>
        <div class="col-sm-6">
            <input type="text" name="clubPlace" class="form-control"
                   placeholder="请输入学会地址">
        </div>
    </div><br/><br/>

            <input type="submit" value="提交" class="btn btn-default"/>
    </div>

</form>
</body>
</html>