<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxh.student_management.mapper.ClubMapper">
    <select id="findAllClub" resultType="com.zxh.student_management.Do.OtherDO">
        select * from other;
    </select>

    <insert id="insertClub" parameterType="com.zxh.student_management.Do.ClubDO">
        insert into clubs(clubName, establishedTime, clubPlace) values (
            #{clubName},
            #{establishedTime},
            #{clubPlace}
        );
    </insert>

    <insert id="insertClubDetails" parameterType="com.zxh.student_management.Do.ClubDetailsDO">
        insert into clubDetails values (
            #{studentId}, #{clubId}, #{year}
        );
    </insert>

    <delete id="deleteClub">
        delete from clubs where clubId = #{clubId};
    </delete>

    <delete id="deleteClubDetails">
        delete from clubDetails where studentId = #{studentId} and clubId = #{clubId};
    </delete>

    <select id="findById" resultType="com.zxh.student_management.Do.ClubDO">
        select * from clubs where clubId = #{clubId};
    </select>

    <select id="findByClubId" resultType="com.zxh.student_management.Do.ClubDetailsDO">
        select * from clubDetails where clubId = #{clubId};
    </select>

    <select id="findAllClubs" resultType="com.zxh.student_management.Do.ClubDO">
        select * from clubs ;
    </select>

    <update id="updateClub">
        update clubs set
            clubName = #{clubName},
            clubPlace = #{clubPlace}
            where clubId = #{clubId};
    </update>
    <select id="getView" resultType="com.zxh.student_management.Do.OtherDO">
        select * from other;
    </select>

    <select id="findClubByName" resultType="com.zxh.student_management.Do.ClubDO">
        select * from clubs where clubName = #{clubName};
    </select>
</mapper>